<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Homepage</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>
    <style>
        #header { text-align: right;
                  margin-right: 5px;
                  margin-top: 5px;
                  font-size: 30px;
                  font-family: Aerial;
                  font-face: bold;
                  }

        #logout { background: black;
                 color: white;
               }

    </style>
</head>
<body>
    <div id="header">
        Hi, {{ stu["name"] }}
        <br>
        <a href="/logout"><input id="logout" type="button" id="logout" value="Logout" /></a>
    </div>
    <div id="content">
        {% if coup|length > 0 %}
            <h2>Your Vouchers</h2>
            {% for i in coup %}
               <div class="container">
                  <div class="card" style="width:400px">
                    <img class="card-img-top" src="{{ url_for('static', filename='food_voucher.jpg') }}" alt="Card image" style="width:100%">
                    <div class="card-body">
                          <h4 class="card-title">{{ i["coupon_code"] }}</h4>
                          <p class="card-text">
                              Valid on: {{ i["validity"] }} <br>
                              Amount: {{ i["price"] }}
                          </p>
                          <a href="/{{ stu["stu_id"] }}/redeem/{{ i["coupon_code"] }}" class="btn btn-primary">Redeem</a>
                    </div>
                  </div>
               </div>
               {{ msg }}
            {% endfor %}
        {% endif %}
    </div>
</body>
</html>